// Define variables for your color scheme

//Bootstrap colors
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;

//Other colors
$gray: #353131;
$light-gray: #F4F4F4;
$dark-gray: #212426;
$dark-background-color: #dbd8cf;
$light-background-color: #e3e0dd;
$yellow-2: #fcc55e;
$yellow-2-hover: #ebb654;

//Assignation
$body-color: $dark-gray;
