// Specific CSS for your home-page

//Background-color

body {
  background: linear-gradient(to bottom right, $dark-background-color, $light-background-color);
  background-attachment: fixed;
}

//Scroll-bar design

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $yellow-2;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $yellow-2-hover;
}

//Display the profile banner and main page next to each other
.page-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.homepage-non-scrollable {
  width: 78%;
  height: 100vh;
  overflow-x: hidden;
}

// Caractéristiques du container de description

.description-container {
  border-radius: 10px;
  padding-top: 500px;
  display: flex;
  justify-content: center;
}

.portfolio-container {
  border-radius: 10px;
  padding-top: 400px;
  display: flex;
  justify-content: center;
}

.whoiam {
  border-radius: 10px;
  padding-top: 400px;
  display: flex;
  justify-content: center;
}
