// Specific CSS for your home-page

//Background-color

body {
  background: linear-gradient(to bottom right, $dark-background-color, $light-background-color);
  background-attachment: fixed;
}

//Display the profile banner and main page next to each other
.page-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.homepage {
  width: 78%;
  height: 100vh;
  overflow: hidden;
}

//Autres

.description-container {
  border-radius: 10px;
  margin-top: 1000px;
  display: flex;
  justify-content: center;
}
