<div class="profile-banner">
  <%= image_tag "profile_picture.jpg", alt: "profile picture", class: "profile-picture"%>
  <h1 class="name">Julie Brunet</h1>
  <div class="icons">
    <i class="fa-brands fa-linkedin icon-design"></i>
    <i class="fa-brands fa-github icon-design"></i>
  </div>
  <button class="contact-button">Contact</button>
</div>
