<div class="profile-banner" data-controller="contact">
  <%= image_tag "profile_picture.jpg", alt: "profile picture", class: "profile-picture"%>
  <h1 class="name">Julie Brunet</h1>
  <div class="icons-container">
    <div class="icons">
      <a href="https://www.linkedin.com/in/julie-brunet-pro" target="_blank"><i class="fa-brands fa-linkedin icon-design"></i></a>
      <a href="https://www.github.com/jlbrunet" target="_blank"><i class="fa-brands fa-github icon-design"></i></a>
    </div>
  </div>
  <div class="contact-modal d-none" data-contact-target="contact_infos">
    <p>juliebrunet.pro@outlook.fr</p>
    <p>+33 6 65 35 35 32</p>
  </div>
  <button class="contact-button" data-action="click->contact#modal" data-contact-target="contact_button">Contact</button>
</div>

<%# faire du responsive %>
