<div class="profile-banner">
  <%= image_tag "profile_picture.jpg", alt: "profile picture", class: "profile-picture"%>
  <h1 class="name">Julie Brunet</h1>
  <div class="icons-container">
    <div class="icons">
      <a href="https://www.linkedin.com/in/julie-brunet-pro" target="_blank"><i class="fa-brands fa-linkedin icon-design"></i></a>
      <a href="https://www.github.com/jlbrunet" target="_blank"><i class="fa-brands fa-github icon-design"></i></a>
    </div>
  </div>
  <button class="contact-button">Contact</button>
</div>

<%# faire du responsive %>
