<div class="page-container">

  <div class="profile-container" data-controller="contact">
    <%= image_tag "profile_picture.jpg", alt: "profile picture", class: "avatar"%>
    <h1 class="name">Julie Brunet</h1>
    <div class="icons-container">
      <div class="icons-box">
        <a href="https://www.linkedin.com/in/julie-brunet-pro" target="_blank"><i class="fa-brands fa-linkedin icon-design"></i></a>
        <a href="https://www.github.com/jlbrunet" target="_blank"><i class="fa-brands fa-github icon-design"></i></a>
      </div>
    </div>
    <div class="contact-container">
      <div class="contact-modal d-none" data-contact-target="contact_infos">
        <a href="mailto: juliebrunet.pro@outlook.fr"><p>juliebrunet.pro@outlook.fr</p></a>
        <a href="tel: +33665353532"><p>+33 6 65 35 35 32</p></a>
        <button class="close-button" data-action="click->contact#close" data-contact-target="close_button"><i class="fa-solid fa-rectangle-xmark"></i></button>
      </div>
      <div class="contact-button-container">
        <button class="contact-button" data-action="click->contact#modal" data-contact-target="contact_button">Contact</button>
      </div>
    </div>
  </div>

  <%# Faire du responsive %>

  <%# Main Page %>

  <div class="homepage-non-scrollable">
    <div class="homepage-scrollable" data-controller="activation-scroll">
      <div class="home-container">
        <div class="navbar-container">
          <a class="navbar-button accueil"
            data-activation-scroll-target="accueil"
            data-action="click->activation-scroll#activation"
            href="#description"
            data-controller="scroll-to"
            data-scroll-to-offset-value="150"
            data-scroll-to-behavior-value="smooth"
            >Accueil</a>
          <a class="navbar-button portfolio"
            data-activation-scroll-target="portfolio"
            data-action="click->activation-scroll#activation"
            href="#portfolio"
            data-controller="scroll-to"
            data-scroll-to-offset-value="150"
            data-scroll-to-behavior-value="smooth"
            >Portfolio</a>
          <a class="navbar-button moi"
            data-activation-scroll-target="moi"
            data-action="click->activation-scroll#activation"
            href="#qui-suis-je"
            data-controller="scroll-to"
            data-scroll-to-offset-value="150"
            data-scroll-to-behavior-value="smooth"
            >Qui suis-je ?</a>
        </div>
      </div>
      <div id="description" id="1">
        <p>Bienvenue, moi c'est Julie, je suis développeuse web full-stack à Paris.</p>
      </div>
      <div id="portofolio">
        <p>Voici mon portfolio.</p>
      </div>
      <div id="qui-suis-je">
        <p>Voici qui je suis.</p>
      </div>
    </div>
  </div>

  <%# Faire un bouton scroll --> en savoir plus %>

</div>
