<div class="page-container">

  <div class="profile-container" data-controller="contact">
    <%= image_tag "profile_picture.jpg", alt: "profile picture", class: "avatar"%>
    <h1 class="name">Julie Brunet</h1>
    <div class="icons-container">
      <div class="icons-box">
        <a href="https://www.linkedin.com/in/julie-brunet-pro" target="_blank"><i class="fa-brands fa-linkedin icon-design"></i></a>
        <a href="https://www.github.com/jlbrunet" target="_blank"><i class="fa-brands fa-github icon-design"></i></a>
      </div>
    </div>
    <div class="contact-container">
      <div class="contact-modal d-none" data-contact-target="contact_infos">
        <a href="mailto: juliebrunet.pro@outlook.fr"><p>juliebrunet.pro@outlook.fr</p></a>
        <a href="tel: +33665353532"><p>+33 6 65 35 35 32</p></a>
        <button class="close-button" data-action="click->contact#close" data-contact-target="close_button"><i class="fa-solid fa-rectangle-xmark"></i></button>
      </div>
      <div class="contact-button-container">
        <button class="contact-button" data-action="click->contact#modal" data-contact-target="contact_button">Contact</button>
      </div>
    </div>
  </div>

  <%# Faire du responsive %>

  <%# Main Page %>

  <div class="homepage-non-scrollable">
    <div class="homepage-scrollable">
      <div class="home-container">
        <div class="navbar-container">
          <button class="navbar-button">Accueil</button>
          <button class="navbar-button">Portfolio</button>
          <button class="navbar-button">Qui suis-je ?</button>
        </div>
      </div>
      <div class="description-container">
        <p>Bienvenue, moi c'est Julie, je suis développeuse web full-stack à Paris.</p>
      </div>
      <div class="portoflio-container">
        <p>Voici mon portfolio.</p>
      </div>
      <div class="whoiam-container">
        <p>Voici qui je suis.</p>
      </div>
    </div>
  </div>

  <%# Faire un bouton scroll --> en savoir plus %>

</div>
