.spark {
  width: 2.5em;
  height: 0.5em;
 }

 .spark:after {
  content: "";
  display: block;
  width: 0.5em;
  height: 0.5em;
  animation: after 2s infinite;
 }

 @keyframes after {
  0% {
   width: 0.5em;
   border-radius: 30% 40% 40% 30% / 40% 40% 30% 30%;
   background-color: theme('colors.lime');
  }

  35% {
   width: 2.5em;
   border-radius: 30% 40% 40% 30% / 40% 40% 30% 30%;
   background-color: theme('colors.lime');
  }

  100% {
   border-radius: 30% 40% 40% 30% / 40% 40% 30% 30%;
   background-color: theme('colors.lime');
  }
 }
