.scroll-button:hover ~ .bubble {
  transition-delay: 0.6s;
  transition-duration: 0.5s;
  transition-property: background-color
}

.scroll-button:hover  ~ .small-bubble {
  transition-delay: 0.7s;
  transition-duration: 0.5s;
  transition-property: background-color
}
