.icons-container {
  padding: 40px 0;
}

.icons-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 50px;
}

.icon-design {
  color: $dark-gray;
  font-size: 40px;
  text-decoration: none;
  transition: transform 200ms;
}

.icon-design:hover {
  transform: scale(1.05);
}
