@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  background-color: theme('colors.beige');
  color: theme('colors.grey');
  font-family: Karla, Arial, sans-serif
}

#root {
  height: 100vh;
}

/* Scroll-bar */

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background-color: theme('colors.purple' / 40%);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: theme('colors.purple');
}
